.edge-nodes {
  position: absolute;
  width: 330px;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.edge-nodes .table-condensed > thead > tr > th {
  font-weight: 800;
}

.edge-nodes input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
}

.edge-nodes input[type="checkbox"]:after {
  visibility: visible;
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e105";
  opacity: 0.4;
}

.edge-nodes input[type="checkbox"]:checked:after {
  opacity: 1;
}

.edge-nodes .panel-title {
  font-size: 13px;
  font-weight: 600;
}

.edge-nodes .panel-heading {
  padding: 7px 15px !important;
}

.edge-nodes .panel-group .panel {
  border-left: 1px solid var(--colorBorderLines);
  border-right: 1px solid var(--colorBorderLines);
}

.edge-node-table table th:nth-child(1) {
  width: 20px;
  min-width: 20px;
  pointer-events: none;
}

.edge-node-table table th:nth-child(1) > *  {
  pointer-events: auto;
}

.edge-node-table table th:nth-child(3) {
  width: 80px;
  min-width: 80px;
}

.edge-node-table table th:nth-child(4) {
  width: 60px;
  min-width: 60px;
}
